.informacion__titulo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #4F4C4C;
    margin-top: 1.8125rem;
    margin-bottom: 1.25rem;
}

@media screen and (min-width:1024px) {
    .informacion__titulo {
        width: 100%;
        margin-bottom: 2rem;
    }
}