.informacion__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.8rem;
    text-decoration-line: underline;
    color: #0006FF;
}