.sobre__description {
    margin-top: 1rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
}

.sobre__description-resaltado {
    font-weight: 700;
    color: #4F4C4C;
}