.diferencial__description {
    width: 12.4375rem;
    margin-top: 1.0625rem;
    margin-left: 2.625rem;
}

.diferencial__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}