.diferencial__titulo {
    margin-left: 0.625rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.1875rem;
    text-transform: uppercase;
    color: #4F4C4C;
}