.diferenciales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1024px) {
    .diferenciales {
        align-items: start;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3rem 10rem;
        background: rgba(247, 244, 244, 1);
    }
}